<!-- app/views/admin/users/index.html.erb -->
<h1>Manage Users</h1>

<%= link_to 'Create New User', new_admin_user_path %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Category</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.category %></td>
        <td><%= user.status ? 'Enabled' : 'Disabled' %></td>
        <td>
          <%= link_to 'View', admin_user_path(user) %>
          <%= link_to 'Edit', edit_admin_user_path(user) %>
          <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>