<p style="color: green"><%= notice %></p>

<h1>Ebooks</h1>

<%= render 'filters' %>
</br>
<% if current_user.seller? || current_user.admin? %>
  <%= link_to "New ebook", new_ebook_path, class: 'btn btn-success mb-3' %>
<% end %>


<table class="table table-secondary table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Status</th>
      <th>User</th>
      <th>Preview</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ebooks.each do |ebook| %>
      <tr id="<%= dom_id ebook %>">
        <td><%= ebook.title %></td>
        <td><%= ebook.description %></td>
        <td><%= ebook.price %></td>
        <td>
            <span class="badge <%= ebook_status_badge(ebook) %>">
              <%= ebook.status.capitalize %>
            </span>
        </td>
        </td>
        <td><%= ebook.user.email %></td>
        <td>
          <% if ebook.pdf.attached? %>
            <%= link_to 'Download', download_pdf_ebook_path(ebook), class: "badge bg-success" %>
          <% else %>
            <span class="badge bg-danger text-dark">
              Not available
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', ebook, class: 'btn btn-info' %>
          <% if (current_user.seller? && ebook.user == current_user) || current_user.admin? %>
            <%= link_to 'Edit', edit_ebook_path(ebook), class: 'btn btn-primary' %>
            <%= link_to 'Delete', ebook, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
          <% if (current_user.buyer? || current_user.seller?) && ebook.live? && ebook.user.seller? && ebook.user != current_user %>
            <%= button_to 'Buy', buy_ebook_ebook_path(ebook), method: :post, class: 'btn btn-warning' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
