<h1>Ebook Logs for <%= @ebook.title %></h1>

<table class="table table-secondary table-striped table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Action</th>
      <th>IP Address</th>
      <th>Browser</th>
      <th>Location</th>
      <th>Seller</th>
      <th>Price</th>
      <th>Fee</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @ebook_logs.each do |log| %>
      <tr>
        <td><%= log.user.email %></td>
        <td><%= log.action.humanize %></td>
        <td><%= log.ip_address %></td>
        <td><%= log.browser %></td>
        <td><%= log.location %></td>
        <td><%= log.seller&.email %></td>
        <td><%= log.price %></td>
        <td><%= log.fee %></td>
        <td><%= log.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</br>
<%= link_to 'Back to Ebook', ebook_path(@ebook), class: 'btn btn-secondary' %>
